
@font-face {
    font-family: 'norsebold';
    src: url('./fonts/norse-bold-webfont.woff2') format('woff2'),
         url('./fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --header-size: 86px;
    --button-color: #596D48;
    --border-color: #E5E7EB;
    --form-text-color: rgb(78, 78, 78);
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    min-height: 100vh;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-section {
    flex: 1 1 30%;

    background-image: url(./img/background-img.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
}

.logo-container {
    margin-top: 212px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 12px 0;

    font-family: norsebold;
    color: rgb(255, 255, 255);
    font-size: var(--header-size);

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: calc(var(--header-size) * 1.25);
}

.img-credits {
    color: rgb(224, 224, 224);
    height: 20px;
    margin-top: auto;
    margin-bottom: 16px;
    width: 100%;
    text-align: center;
}

.img-credits > a:visited {
    color: inherit;
}


/* Right section: form */

.content-section {
    flex: 1 1 60%;
    padding: 0 48px;
    background-color: rgb(247, 247, 247);
}

.message {
    font-weight: bold;
    font-size: 1.3rem;
    max-width: 636px;
    margin-top: 172px;
    margin-bottom: 72px;
}

.message > p + p {
    margin-top: 8px;
    margin-bottom: 0;
}

form {
    margin: 36px 00;
    padding: 24px 48px;
    background-color: white;
    width: calc(100% + 96px);
    position: relative;
    left: -48px;
}

.form-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 32px;
    color: var(--form-text-color);
}

.form-row {
    display: flex;
    gap: 72px;
    margin-bottom: 24px;
}

label {
    font-weight: bold;
    font-size: 0.8rem;
    color: var(--form-text-color);
    letter-spacing: 0.1em;
}

input {
    display: block;
    width: 250px;
    height: 32px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    padding: 8px 8px;
}

button {
    background-color: var(--button-color);
    color: white;
    font-weight: bold;
    border: none;
    padding: 16px 48px;
    border-radius: 8px;
    margin-bottom: 36px;
}

form,
input,
button {
    box-shadow: 4px 4px 8px rgb(207, 207, 207);
}

.login-link,
.login-link:visited {
    color: var(--button-color);
    text-decoration: none;
    font-weight: bold;
}
